@font-face {
    font-family: mp-light;
    src: url(./font/MyriadPro-Regular.otf) format("otf"), url(./font/Abygaer.ttf) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: mp;
    src: url(./font/ITCGaramondStd-LtCondIta.otf) format("otf"), url(./font/HanaMin.ttf) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: mp-bold;
    src: url(./font/NotoSansCJKtc-Black.otf) format("otf"), url(./font/NeueHaasDisplayBold.ttf) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: gp;
    src: url(./font/NotoSansCJKtc-DemiLight.otf) format("otf"), url(./font/NeueHaasDisplayLight.ttf) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: gp-disp;
    src: url(./font/GaramondPremrPro-Disp.bc17ac9a.otf) format("otf"), url(./font/NeueHaasDisplayMediu.ttf) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: gp-italic;
    src: url(./font/GaramondPremrPro-It.0cdc5fa1.otf) format("otf"), url(./font/NeueHaasDisplayRoman.ttf) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: gp-lt-italic;
    src: url(./font/GaramondPremrPro-LtItDisp.a7b26a72.otf) format("otf"), url(./font/GaramondPremrPro-LtItDisp.a1efca7a.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}


body,
html {
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: mp, sans-serif;
    font-size: 1vw;
    line-height: 30px;
    letter-spacing: -.02em
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

.welcome {
    opacity: 1;
    color: #E0BDA1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1200;
    background: black;
}


.welcome__title {
    position: absolute;
    top: calc(2rem + 17px);
    left: 50%;
    transform: translate(-50%);
    display: block;
    font-family: serif;
    text-decoration: none;
}

.welcome__title h1 {
    font-size: 66px;
    letter-spacing: -12px;
    margin: 0 !important;
}

.welcome__title>div {
    position: relative;
    width: 100px;
    left: 100px;
    top: 10px;
    font-size: 12px;
    font-weight: bold;
}

.welcome__loading {
    width: 100%
}

.welcome__relax {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -.02em
}

.welcome__relax>span {
    display: block;
    text-align: center
}

.welcome__relax .sound {
    margin: 0 auto 20px
}

.info {
    display: flex;
    flex-wrap: wrap;
    transition: .7s all;
    pointer-events: auto;
    position: absolute;
    top: 2rem;
    right: 20px
}

.info .i {
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 50%;
    border: solid 1px;
    line-height: 0;
    cursor: pointer;
    margin: -1px 0 -1px 12px;
    transition: .2s all
}

.info .i:hover {
    width: 41px;
    height: 41px;
    margin: -4px -3px -4px 9px
}

.info .i svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.sound span::before {
    background-color: black;
}

.info .i svg {
    fill: black;
}

.sound {
    line-height: 0;
    position: relative;
    height: 33px;
    width: 33px;
    cursor: pointer;
    pointer-events: auto
}

.sound span {
    display: block;
    position: absolute;
    width: 1px;
    transition: .3s all
}

.sound span:nth-child(1) {
    left: 0;
    top: 11px;
    bottom: 11px
}

.sound span:nth-child(2) {
    left: 4px;
    top: 7px;
    bottom: 7px
}

.sound span:nth-child(3) {
    left: 8px;
    top: 11px;
    bottom: 11px
}

.sound span:nth-child(4) {
    left: 12px;
    top: 14px;
    bottom: 14px
}

.sound span:nth-child(5) {
    left: 16px;
    top: 11px;
    bottom: 11px
}

.sound span:nth-child(6) {
    left: 20px;
    top: 9px;
    bottom: 9px
}

.sound span:nth-child(7) {
    left: 24px;
    top: 3px;
    bottom: 3px
}

.sound span:nth-child(8) {
    left: 28px;
    top: 9px;
    bottom: 9px
}

.sound span:nth-child(9) {
    left: 32px;
    top: 12px;
    bottom: 12px
}

.sound span:before {
    position: absolute;
    display: block;
    width: 1px;
    left: 0;
    height: auto;
    content: "";
    animation: line-full 1s infinite;
}

@keyframes line-full {
    0% {
        top: 0;
        bottom: 0
    }

    50% {
        top: calc(50% - 2px);
        bottom: calc(50% - 2px)
    }

    to {
        top: 0;
        bottom: 0
    }
}

.welcome .sound span:before {
    background: #E0BDA1
}

.sound span:nth-child(1):before {
    animation: line-full infinite 1.1s
}

.sound span:nth-child(2):before {
    animation: line-full infinite 1.2s
}

.sound span:nth-child(3):before {
    animation: line-full infinite 1s
}

.sound span:nth-child(4):before {
    animation: line-full infinite 1.2s
}

.sound span:nth-child(5):before {
    animation: line-full infinite 1.1s
}

.sound span:nth-child(6):before {
    animation: line-full infinite 1.2s
}

.sound span:nth-child(7):before {
    animation: line-full infinite 1.1s
}

.sound span:nth-child(8):before {
    animation: line-full infinite 1.2s
}

.sound span:nth-child(9):before {
    animation: line-full infinite 1.3s
}

[data-music=paused] .sound span,

.sound:hover span {
    transition: .3s all;
    top: 14px !important;
    bottom: 14px !important
}

.loading {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0
}

.loading__text {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -168px);
    font-family: gp-lt-italic, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -.02em;
    text-align: center;
    text-shadow: none !important;
}

.loading__text span {
    display: block;
    margin: 40px 0 0;
    font-family: mp, sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -.02em
}

.loading__line {
    height: 2px;
    background: rgba(255, 255, 255, .2);
    position: relative
}

.loading__line span {
    display: block;
    background: #E0BDA1;
    position: absolute;
    height: 2px;
    top: 0;
    left: 50%;
    width: 0;
    transition: .3s width;
    transform: translate(-50%)
}

.link--hover span:first-child {
    font-weight: lighter;
    position: relative;
    display: inline-block;
    line-height: 1em;
    cursor: pointer;
}

.link--hover span:first-child:after {
    position: absolute;
    height: 1px;
    width: 0;
    left: 0;
    border-bottom: solid 1px;
    bottom: 0;
    transition: .3s width;
    display: block;
    content: ""
}

.link--hover span:first-child:hover:after {
    width: 100%
}

.section {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
}

.section .headers {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    clip: rect(auto, auto, auto, auto);
}

.section .header {
    position: fixed;
    width: 100%;
    top: 0px;
    transition: .5s all;
}

.header .welcome__title {
    color: white;
}

.header-menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 2rem;
    transition: .5s all;
}

.header-menu>div {
    display: flex;
    justify-content: space-around;
    width: 400px;
    font-size: 16px;
}

.header-menu>div:first-of-type {
    color: white;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
}

.one-content {
    width: 30%;
    height: 100vh;
    background-image: url('./image/0-BeautyGirl02.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.two-content {
    width: 30%;
    height: 100vh;
    background-image: url("./image/Flower01.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.three-content {
    width: 40%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.our-service {
    margin-left: 50px;
    font-size: 24px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #666666;
}

.our-service span::after {
    background-color: #666666;
    border-color: #666666;
}

.big-services {
    width: 30px;
    height: 30px;
    overflow: visible;
    position: relative;
}

.big-services div {
    text-align: center;
    font-size: 100px;
    font-family: gp-lt-italic;
    line-height: 80px;
    position: absolute;
    width: 600px;
    border-bottom: solid 2px #ffffff;
    top: 150px;
    left: -300px;
}

.footer {
    position: absolute;
    width: 40%;
    bottom: 2%;
    left: 55%;
    font-size: 24px;
    font-family: mp-light;
}

.footer p {
    font-family: mp, sans-serif;
    margin: 0;
}


.side-bar {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100vh;
    top: 0px;
    left: 100%;
    background-color: #BDAE9B;
    color: white;
    z-index: 5;
    transition: .7s all;
}

.side-bar-headers {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 40px;
}

.side-bar-header {
    width: 400px;
    line-height: 50px;
}

.side-bar-content {
    position: relative;
    width: 80%;
    margin-bottom: 60px;
}

.sbc {
    position: relative;
    padding: 30px 0px 30px;
    font-size: 14px;
    border-bottom: solid 1px;
}

.sbc::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    transform: translateX(50%);
    top: 45px;
    right: 30px;
    background-color: white;
}

.sbc::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 40px;
    transform: translateY(-50%);
    top: 45.5px;
    right: 29px;
    background-color: white;
}

.sbc-first {
    border-top: solid 1px;
    border-bottom: solid 1px;
    font-size: 14px;
}

.sbc-first-title {
    font-size: 28px;
    margin-top: 24px;
}

.sbc-first-text {
    margin-top: 10px;
    line-height: 20px;
}

.sbc-first-contents {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sbc-first-content {
    margin-right: 10px;
}

.sbc-items {
    display: flex;
    flex-wrap: wrap;
}

.sbc-item {
    width: 160px;
    height: 60px;
    border: solid 1px;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}










.side-bar-close {
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.side-bar-close div {
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: white;
}

.side-bar-close>div:first-of-type {
    transform: rotateZ(45deg);
}

.side-bar-close>div:last-of-type {
    transform: rotateZ(-45deg);
}

.side-bar-open {
    left: 40%;
}

.slider {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.right-slider {
    width: 25%;
    height: 100%;
    cursor: url(./arr-right-black.svg), pointer;
    opacity: 0;
}

.left-slider {
    width: 25%;
    height: 100%;
    cursor: url(./arr-left-black.svg), pointer;
    opacity: 0;
}